---
title: Canon
---
<nav>
  <div class="ph3 bb b--black-10 flex flex-row justify-between h3 items-center">
    <a class="w4 dib" href="/"> <img src="images/logo.svg" class="db" alt=""> </a>
    <div data-role="MAINNAV">
      <ul class="flex list ttu f6 pa0 ma0">
        <li class="ph2"><a href="#">Official Store</a></li>
        <li class="ph2"><a href="#">Services & Apps</a></li>
        <li class="ph2"><a href="#">Get Inspired</a></li>
        <li class="ph2"><a href="#">Support</a></li>
      </ul>
    </div>
    <div class="flex">
      <div class="mr4"><i class="nevada mr2 fas fa-search"></i><span class="nevada">Search</span><span class="red">_</span></div>
      <ul class="flex list pa0 ma0">
        <li class="ml4"><i class="nevada mr2 fas fa-user"></i></li>
        <li class="ml4"><i class="nevada mr2 fas fa-heart"></i></li>
        <li class="ml4"><i class="nevada mr2 fas fa-shopping-basket"></i></li>
      </ul>
    </div>
  </div>
  <div class="bb b--black-10 pv3">
    <ul class="flex list row flex-row justify-between f6 pa0">
      <li><a href="#">Cameras</a></li>
      <li><a href="#">Lenses</a></li>
      <li><a href="#">Camcorders</a></li>
      <li><a href="#">Printers & Office</a></li>
      <li><a href="#">Accessories</a></li>
      <li><a href="#">Ink, Toner & Paper</a></li>
      <li><a href="#">Buying Guides</a></li>
      <li><a href="#">Offers</a></li>
    </ul>
  </div>
  <div class="row f6 nevada mv3">
    <ul data-role="BREADCRUMB" class="ma0 pa0 list flex">
      <li class="mr3"><a href="#">Home</a></li>
      <li class="mr3"><a href="#">Store</a></li>
      <li class="mr3"><a href="#">Cameras</a></li>
      <li class="mr3"><a href="#">Compact Digital Cameras</a></li>
    </ul>
  </div>
</nav>

<div class="row">
  <h1 class="mt4 mb4 tungsten ttu f1">Compact Digital Cameras</h1>
  <div class="main-content flex flex-row justify-between">
      <div class="sidebar nevada w-20">
          <div class="sidebar__inner">
              <div class="mb3 pa3 bt b--black-10">Filter by:</div>
          <% (1..8).each do |i| %>
            <div class="mb4">
              <p class="f6 bb b--black-20 ttu black ma0 pv2 ph3 f7"><%= randomword(["Price Range", "Categories", "Offers", "Best for", "Colour"]).titleize %></p>
              <ul class="list pa0 ma0">
                <% (1..5).each do |i| %>
                  <li class="ph3 pv2 f6 bb b--black-10"><%= randomword(["PowerShot Cameras", "Superzoom Cameras", "IXUS Cameras", "Bridge Cameras", "Pocket Cameras"]).titleize %> (<%= rand(5..30) %>)</li>
                <% end %>
              </ul>
            </div>
          <% end %>
          </div>
      </div>
      <div class="content pl4 w-75">
          <div class="mb4 flex flex-row justify-between bt b--black-10 pt4 items-center">
            <div class="flex" data-role="FLUSHBORDER GROUPPILL">
              <span class="ph2 pv1 flex items-center"><i class="mr2 nevada fas fa-th"></i> <span>Grid</span></span>
              <span class="ph2 pv1 flex items-center"><i class="mr2 nevada fas fa-th-list"></i> <span>List</span></span>
            </div>
            <div class="flex" data-role="FLUSHBORDER GROUPPILL">
              <span class="v-mid ph2 pv1 black-20">‹</span>
              <span class="v-mid ph2 pv1 black-20">1</span>
              <span class="v-mid ph2 pv1">2</span>
              <span class="v-mid ph2 pv1 red">›</span>
            </div>
            <div>
              <span>Sort By: </span><a href="#" class="nevada">New In</a>
            </div>
          </div>
          <div data-role="PRODUCTLISTING FLUSHBORDER">
            <% (1..3).each do |i| %>
              <div class="flex flex-column" data-role="TILE">
                <div class="aspect-ratio aspect-ratio--1x1 bg-near-white z--1">
                  <div class="aspect-ratio--object flex items-center pa4">
                    <img src="images/camera<%= rand(1..4) %>.png" alt="">
                  </div>
                </div>
                <div class="ph3">
                  <p><%= randomword(["Canon PowerShot G1 X Mark III Extra long title that go over 3 lines", "Canon PowerShot G1 X Mark III", "Canon PowerShot SX730 HS Silver", "Canon PowerShot G9 X Mark II Silver"]) %></p>
                  <% if rand(2) == 1  %>
                  <span class="promotion ttu bg-cardinal-pink white dib white-space pa2 f7">Save £80 at checkout</span>
                  <% end %>
                  <ul class="f7 pl3">
                    <li class="mb2">3x fast aperture optical zoom</li>
                    <li class="mb2">24.2 MP APS-C Sensor</li>
                    <li class="mb2">Dual Pixel CMOS AF</li>
                  </ul>
                </div>
                <div class="ph3 pb4 mt-auto">
                  <p class="f4">£1,089.99</p>
                  <a href="#" class="dib ph3 pv2 ba b--olive olive br-pill ttu f6"><i class="olive mr2 fas fa-shopping-basket"></i> Add to basket</a>
                </div>
              </div>
            <% end %>
          </div>
      </div>
  </div>
</div>
<div class="dib w-100 h5 bg-black-20 mt6" data-role="FOOTER">
  <div class="pa5 row">
    Footer
  </div>
</div>

<script type="text/javascript">
  var sidebar = new StickySidebar('.sidebar', {
    topSpacing: 32,
    resizeSensor: true,
    bottomSpacing: 32,
    containerSelector: '.main-content',
    innerWrapperSelector: '.sidebar__inner'
  });
</script>
